<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head> 
<body>
    메인화면 <br>
    <form action="/update">
        <input type="submit" value="정보 수정 페이지">
    </form>
    <form action="/user/delete">
        <input type="hidden" name="id" id="delete-frm-id">
        <input type="submit" value="회원탈퇴">
    </form>
     <table id="member-list" border="1">
        <thead>
            <td>아이디</td>
            <td>비밀번호</td>
            <td>닉네임</td>
        </thead>
        <tbody>
        </tbody>
     </table>
     <script>
        document.addEventListener('DOMContentLoaded', ()=>{
            fetch('./user/list')
            .then(res => res.json())
            .then(members => { 
                const tbody = document.querySelector('#member-list')
                members.forEach(member => {
                    const tr = document.createElement('tr');
                    const tdId = document.createElement('td');
                    tdId.textContent = member.id;
                    const tdPw = document.createElement('td');
                    tdPw.textContent = member.pw;
                    const tdNick = document.createElement('td');
                    tdNick.textContent = member.nick;
                    tr.appendChild(tdId);
                    tr.appendChild(tdPw);
                    tr.appendChild(tdNick);
                    tbody.appendChild(tr);
                });
            })
            fetch('./user')
               .then(res=>res.json())
               .then(user=>{
                    console.log(user)
                    document.getElementById('delete-frm-id').value = user.id;
               })
               .catch(error => {console.error('실패: ', error)});
        });
     </script>
</body>
</html>