<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- js기능 작성 -->
    <!-- 현재 페이지 웹 주소: [GET]localhost:3000/write -->
     <!--  -->
    <button onclick="location.href='./write'">게시물 작성 페이지</button><br>

    <table id="post-list" border="1">
        <thead>
            <td>게시물번호</td>
            <td>제목</td>
            <td>작성자</td>
        </thead>
        <tbody>

        </tbody>
    </table>
</body>
</html>